.change-furniture-article {
  padding: 17% 8%;
  font-size: 1rem;
  .change-furniture-header {
    font-size: 1.7em;
    line-height: 1.1;
    &::first-letter {
      text-transform: capitalize;
    }
    @include tablet-view-large {
      font-size: 1.9em;
    }
  }
  .change-furniture-text {
    line-height: 1.4;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--darkGray);
    padding: 9% 0 16% 0;
    @include tablet-view {
      line-height: 1.7;
    }
    @include tablet-view-large {
      font-size: 1.2em;
    }
  }
  .shop-now {
    @extend .shop-now;
    .btn-arrow {
      animation: arrowMove 1.5s ease infinite;
    }
    @include tablet-view-large {
      font-size: 1.4em;
    }
  }
}
.about-furniture {
  padding: 17% 8%;
  font-size: 1rem;
  .about-future-header {
    font-size: 1.2em;
    line-height: 1;
    letter-spacing: 4px;
    font-variant: small-caps;
    @include tablet-view {
      font-size: 1.4em;
    }
    @include tablet-view-large {
      font-size: 1.7em;
    }
  }
  .about-future-text {
    line-height: 1.4;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--darkGray);
    padding: 9% 0 7% 0;
    @include tablet-view {
      line-height: 1.7;
      padding: 9% 0 0 0;
    }
    @include tablet-view-large {
      font-size: 1.2em;
    }
  }
  //   .shop-now {
  //     @extend .shop-now;
  //     .btn-arrow {
  //       animation: arrowMove 1.5s ease infinite;
  //     }
  //   }
}

@keyframes arrowMove {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 25px;
  }
  100% {
    margin-left: 0;
  }
}
