.nav {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: left;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  &__hamburger {
    margin: 45px;
    cursor: pointer;
    position: relative;
    z-index: 3;
    @include breakpoint(jupiter) {
      &--desktopNav {
        display: none;
      }
    }
  }
  &__logo {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint(jupiter) {
      &--desktopNav {
        position: static;
        transform: translateX(0);
        margin: 45px;
      }
    }
  }
  &__menu {
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--white);
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    transition: all 0.8s ease;
    @include breakpoint(jupiter) {
      &--desktopNav {
        opacity: 1;
        justify-content: unset;
        background-color: transparent;
        position: static;
        width: auto;
      }
    }
    &--active {
      opacity: 1;
      pointer-events: all;
      transition: all 0.8s ease;
    }
  }
  &__item {
    margin: 45px 20px;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.8s 0.2 ease;
    overflow-x: hidden;
    font-size: 0.9em;

    @include breakpoint(jupiter) {
      &--desktopNav {
        margin-right: 0;
        color: var(--white);
        pointer-events: all;
        margin-right: 23px;
        &::after {
          display: block;
          content: "";
          width: 50%;
          background-color: var(--white);
          height: 1px;
          transform: translateX(-100%);
          transition: all 0.3s ease;
        }
        &:hover::after {
          transform: translateX(50%);
        }
      }
    }
  }
}
