.article {
  font-size: 1rem;
  max-height: 100%;
  width: 100%;
  position: relative;
  &--slider {
    padding: 10px 40px 40px 40px;
    @include breakpoint(mars) {
      padding: 10px 80px 40px 80px;
    }
    @include breakpoint(jupiter) {
      padding: 4%;
    }
  }
  &--about {
    padding: 0 40px;
    @include breakpoint(mars) {
      order: 1;
      padding: 0 80px;
    }
    @include breakpoint(jupiter) {
      padding: 0 10%;
    }
    @include breakpoint(jupiter) {
      order: 0;
      width: 40%;
      padding: 0 40px;
    }
  }

  &__header {
    font-size: 1.7em;
    padding: 45px 0 0 0;
    line-height: 1.1;
    &::first-letter {
      text-transform: capitalize;
    }
    &--about {
      font-size: 1.2em;
      letter-spacing: 4px;
      font-variant: small-caps;
    }
  }
  &__text {
    line-height: 1.6;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--darkGray);
    padding: 5% 0 10% 0;
    &--slider {
      font-size: 0.9em;
    }
  }
  &__sliderBtn {
    z-index: 2;
    right: 0;
    top: -50px;
    position: absolute;
    background-color: var(--black);
    height: 50px;
    width: 86px;
    display: flex;
    justify-content: center;
    @include breakpoint(jupiter) {
      top: auto;
      bottom: 0;
      right: auto;
      left: -86px;
    }
    @include breakpoint(uranus) {
      top: auto;
      bottom: 0;
      right: auto;
      left: 0;
    }
  }
  &__arrowBtn {
    padding: 15px;
    cursor: pointer;
  }

  &__btnShopNow {
    @extend .article__btn;
  }
  &__btnArrow {
    animation: arrowMove 1.5s ease infinite;
  }

  @keyframes arrowMove {
    0% {
      margin-left: 0;
    }
    50% {
      margin-left: 25px;
    }
    100% {
      margin-left: 0;
    }
  }
}
